In [16]:
import pandas as pd

In [48]:
RetailOrderHistDF = pd.read_csv("inputFiles/RetailOrderHistory.csv")

In [49]:
#original shape
RetailOrderHistDF.shape

(372, 27)

In [50]:
RetailOrderHistDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Website                         372 non-null    object
 1   Order ID                        372 non-null    object
 2   Order Date                      372 non-null    object
 3   Purchase Order Number           0 non-null      float64
 4   Currency                        372 non-null    object
 5   Unit Price                      372 non-null    object
 6   Unit Price Tax                  372 non-null    object
 7   Shipping Charge                 372 non-null    float64
 8   Total Discounts                 372 non-null    object
 9   Total Owed                      372 non-null    object
 10  Shipment Item Subtotal          321 non-null    object
 11  Shipment Item Subtotal Tax      321 non-null    object
 12  ASIN                            372 non-null    object
 13  Product Condition               372 non-null    object
 14  Quantity                        372 non-null    int64
 15  Payment Instrument Type         208 non-null    object
 16  Order Status                    372 non-null    object
 17  Shipment Status                 321 non-null    object
 18  Ship Date                       321 non-null    object
 19  Shipping Option                 322 non-null    object
 20  Shipping Address                320 non-null    object
 21  Billing Address                 354 non-null    object
 22  Carrier Name & Tracking Number  318 non-null    object
 23  Product Name                    372 non-null    object
 24  Gift Message                    13 non-null     object
 25  Gift Sender Name                0 non-null      float64
 26  Gift Recipient Contact Details  0 non-null      float64
dtypes: float64(4), int64(1), object(22)
memory usage: 78.6+ KB

In [52]:
RetailOrderHistDF["Shipment Item Subtotal"]

0      11,863.56
1            NaN
2         389.84
3       1,220.95
4         507.63
         ...
367       941.53
368       941.53
369       247.62
370          248
371          722
Name: Shipment Item Subtotal, Length: 372, dtype: object

In [98]:
def cleaningRetailOrderHistDF(df):
    df = df[df["Website"].str.startswith("Amazon")]
    df.fillna(0)

In [99]:
cleaningRetailOrderHistDF(RetailOrderHistDF)

In [100]:
RetailOrderHistDF["Unit Price"] = RetailOrderHistDF["Unit Price"].map(lambda x: float("".join(x.split(",")) if type(x)!=float else x ))

In [101]:
RetailOrderHistDF["Unit Price Tax"] = RetailOrderHistDF["Unit Price Tax"].map(lambda x: float("".join(x.split(",")) if type(x)!=float else x ))

In [102]:
RetailOrderHistDF["Shipping Charge"] = RetailOrderHistDF["Shipping Charge"].map(lambda x: float("".join(x.split(",")) if type(x)!=float else x ))

In [104]:
display(RetailOrderHistDF)

,Website,Order ID,Order Date,Purchase Order Number,Currency,Unit Price,Unit Price Tax,Shipping Charge,Total Discounts,Total Owed,...,Shipment Status,Ship Date,Shipping Option,Shipping Address,Billing Address,Carrier Name & Tracking Number,Product Name,Gift Message,Gift Sender Name,Gift Recipient Contact Details
0,Amazon.in,403-0842289-6365165,07/06/2022 03:54:38 UTC,NaN,INR,11863.56,2135.44,0.00,"'-4,000'","9,999",...,Shipped,07/06/2022 10:00:19 UTC,scheduled-delivery-in-prepaid,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,DLV_GROUND_HB_STD(1337980939013),"SIHOO High Back Home Office Chair, Ergonomic M...",NaN,NaN,NaN
1,Amazon.in,403-4795117-3873130,07/05/2022 18:17:39 UTC,NaN,INR,12999.00,0.00,0.00,0,0,...,NaN,NaN,scheduled-delivery-in-prepaid,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,NaN,The Sleep Company SmartGRID High-Back Chair fo...,NaN,NaN,NaN
2,Amazon.in,171-5858075-9337128,06/28/2022 10:37:32 UTC,NaN,INR,389.84,109.16,0.00,0,499,...,Shipped,06/29/2022 04:02:15 UTC,std-in-10k,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,ATS(318112878654),CHILLAXPLUS 82 pcs Sewing kit | Stitching kit ...,NaN,NaN,NaN
3,Amazon.in,404-7061774-7929902,06/24/2022 05:04:25 UTC,NaN,INR,1220.95,61.05,0.00,0,"1,282",...,Shipped,06/25/2022 07:21:51 UTC,Std IN EZ Metro COD,Rahul Thakur B-63 Dabua Colony Faridabad FARID...,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,ATS(318049469550),FENTACIA Men Synthetic Suede Chelsea Boots (bl...,NaN,NaN,NaN
4,Amazon.in,403-6443923-3402769,06/20/2022 11:19:25 UTC,NaN,INR,507.63,91.37,0.00,0,599,...,Shipped,06/21/2022 03:12:14 UTC,std-in-10k,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,SHREYANSH DIXIT Shankar Mill Colony Station Ro...,ATS(278977980759),"boAt Type C 600 Stress Resistant, Smart Auto D...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,Amazon.in,171-3678047-6054768,08/17/2017 16:14:48 UTC,NaN,INR,941.53,169.47,7.63,0,"1,111",...,Shipped,08/18/2017 05:34:27 UTC,std-in-remote-cod-eligible-10k,"Shreyansh Dixit 501/D-Block SRM University, NC...",Shreyansh Dixit 580A Talwandi Kota RAJASTHAN 3...,DLV_GROUND_STD_COD(5180731984293),Casio FX-991EX Scientific Calculator (Black),My gift to me. :P,NaN,NaN
368,Amazon.in,171-6279273-7741138,08/16/2017 18:19:29 UTC,NaN,INR,941.53,169.47,7.63,0,"1,111",...,Shipped,08/18/2017 05:34:12 UTC,std-in-remote-cod-eligible-10k,"Shreyansh Dixit 501/D-Block SRM University, NC...",Shreyansh Dixit 580A Talwandi Kota RAJASTHAN 3...,DLV_GROUND_STD(5180737957533),Casio FX-991EX Scientific Calculator (Black),NaN,NaN,NaN
369,Amazon.in,408-4539147-3421924,02/03/2017 05:36:42 UTC,NaN,INR,247.62,12.38,0.95,0,260,...,Shipped,02/06/2017 08:21:47 UTC,std-in-cod-eligible,Abhay Anand House No.5-M-9 Mahaveer Nagar 3 KO...,Shreyansh Dixit 580A Talwandi Kota RAJASTHAN 3...,ATS_INJ_STD_COD(237147696258),Terabyte Mini Speaker For Mobile/Laptop/Comput...,NaN,NaN,NaN
370,Amazon.in,408-4539147-3421924,02/03/2017 05:36:42 UTC,NaN,INR,248.00,31.00,2.22,0,279,...,Shipped,02/03/2017 07:35:28 UTC,std-in-cod-eligible,Abhay Anand House No.5-M-9 Mahaveer Nagar 3 KO...,Shreyansh Dixit 580A Talwandi Kota RAJASTHAN 3...,ATS_INJ_STD_COD(237147025515),Relish Analogue Multi-Colour Dial Men's Watch ...,NaN,NaN,NaN
371,Amazon.in,171-2507276-7089106,07/08/2016 11:21:48 UTC,NaN,INR,722.00,0.00,0.00,0,722,...,Shipped,07/21/2016 08:35:18 UTC,IN Exp Dom 2,Shreyansh Dixit 580A Talwandi Kota RAJASTHAN 3...,Shreyansh Dixit 580A Talwandi Kota RAJASTHAN 3...,ATS(521182160226),Fads and Fallacies in the Name of Science (Pop...,NaN,NaN,NaN